*.egg-info/
__pycache__/
.idea/
venv/

utils/credential.json

# keep the folder
!datasets/README.md
datasets/*
!datasets/update.sh

tests/acl_embedding.pkl
tests/faiss_index.bin
tests/benchmark_index/*
!tests/benchmark_index/*.py
!tests/benchmark_index/*.sh
env.yaml
embeddings.chroma

slurm*
*.log


